
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Heebo&family=Montserrat:wght@100&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@700&family=Rubik+Moonrocks&family=Ubuntu:wght@700&family=Work+Sans:wght@800&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
}

header h1{
    
    margin-top: 15px;
    font-family: 'Ubuntu';
    font-weight: 700;
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

}


#logo{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.container{
   width: 375px;
   height: 520px;
   background: #1f4037;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   border-radius: 15px;
   box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
   padding: 20px;
   overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.container form{
    width: 100%;
    border: 1px solid rgb(24, 106, 59);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(251, 252, 252) ;
}

.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 4px;
}

.container form i{
    padding-left: 10px;
    border: none;
    outline: none;
}
#search-item{
    background-color: rgb(251, 252, 252) ;
}

.product-list{
    padding: 20px 0;
    
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    background: rgb(251, 252, 252);
    border-radius: 4px;
}

.product img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;

}

.product .p-details{
    padding-left: 15px ;
}

.product .p-details h2{
    font-size: 18px;
    color: #1d1d1d;
    text-transform: uppercase;
}

.product .p-details h3{
    font-size: 15px;
}


@media screen and (max-width:768px){

    body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

    }
    header{
        margin-top: 10px;
    }

    header h1{
        font-size: 30px;
    }
    .container{
        width: 90%;
        height: 60%;
    }
}